/* 
----------------------
MAIN CSS FILE 
----------------------

INDEX:
    0 - General
    1 - Coverboard
    2 - Jumbotron
    3 - Search form
ABOUT:
    0 - General
    1 - Coverboard
    2 - Jumbotron
    4 - Main text
    5 - Block
    6 - Footer
DASHBOARD:
    7 - Lateral navbar
    8 - Containers, headings and colors
    9 - Card setup
    10 - Bio card
PAYMENT:
    7 - Lateral navbar
    8 - Containers, headings and colors
    9 - Card setup
    11 - Crash calendar card
    12 - Crash table card
*/


/* 
// -----------------------
// 0 - GENERAL
// -----------------------
*/

.bg-main {
    background-color: #2E3F5C;
}

.bg-light {
    background-color: #3FACDF;
}

.shadowed {
    z-index: 2;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

.round { 
    border-radius: 50%; 
}

/* 
// -----------------------
// 1 - COVERBOARD
// -----------------------
*/

.cover-container {
    background-image: url("../img/stars@2x.png");
    background-size: cover;
    height: calc(100vh - 54px) ;
    padding: 0px 0px;
    background-position: center;
    overflow-x: hidden;
}

.cover-container-day {
    background-image: none;
}

@keyframes rotate_clock {
    0% { transform:rotate(0deg)}
    to { transform:rotate(359deg)}
}

@keyframes rotate_counter {
    0% { transform:rotate(359deg)}
    to { transform:rotate(0deg)}
}

@keyframes orbit {
    0% { transform: translateX(50vw)  }
    25% { transform: translateX(25vw) translateY(-15vh)  }
    50% { transform: translateX(0vw) translateY(-30vh)  }
    75% { transform: translateX(-25vw)  translateY(-15vh)  }
    100% { transform: translateX(-50vw)  }
}

.moon {
    background-image: url("../img/moon@2x.png");
    position: absolute;
    background-size: cover;
    background-position: center;
    animation: rotate_clock 300s linear infinite;
    width: 200px;
    height: 200px;
    top: 40vh;
    left: 20px;
    overflow: hidden;
}

.mars {
    background-image: url("../img/mars@2x.png");
    background-size: cover;
    background-position: center;
    animation: rotate_counter 200s linear infinite;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 30vh;
    right: 20px;
    overflow: hidden;
}

.sun {
    background-image: url("../img/sun@2x.png");
    background-size: cover;
    background-position: center;
    animation: orbit 300s linear infinite;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 40vh;
    right: 40vw;
    overflow: hidden;
}

/* 
// -----------------------
// 2 - JUMBOTRON
// -----------------------
*/

.heart {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.jumbo {
    width: 100%;
    height: 100%;
    margin-right: 0px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.jumbo > .col-sm-4 {
    padding: 5% 5%;
    color: white;
    text-align: center;
}

.jumbo > .col-sm-6 {
    padding: 5% 5%;
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
}


@media (max-width: 967px) {
    .jumbo > .col-sm-4, .jumbo > .col-sm-6 {
        padding: 10px 5%;
        color: white;
    }
}

@media (max-width: 767px) {
    .heart {
        width: 150%;
    }
    .jumbo > .col-sm-4, .jumbo > .col-sm-6 {
        padding-top: 15vh;
    }
}

/* 
// -----------------------
// 3 - SEARCH FORM
// -----------------------
*/

.form-control {
    text-align: center;
    height: 50px;
}

.brand-text {
    letter-spacing: -0.42px;
    line-height: 30px;
    font-weight: 300;
    font-size: 21px;
    font-family: 'Work Sans', sans-serif;
    color: rgba(255, 255, 255, 0.7);
}

.btn-search {
    width: 100%;
    height: 50px;
    line-height: 30px;
}

/* 
// -----------------------
// 4 - MAIN TEXT
// -----------------------
*/

/* TODO */

/* 
// -----------------------
// 5 - IPHONE BLOCK
// -----------------------
*/

.block {
    position: relative;
    width: 100%;
    padding: 60px 30px;
    color: inherit;
    background-color: #ffffff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
    .block {
      padding: 100px 0;
    }
    .block:not(.block-secondary) .lead {
      font-size: 21px;
    }
    .h1.block-title,
    h1.block-title {
      font-size: 42px;
    }
}

.app-iphone-block {
    padding-bottom: 60px;
}

@media (min-width: 768px) {
    .app-align-center {
      display: flex;
      align-items: center;
    }
  }

@media (min-width: 768px) {
    .app-iphone-block {
      padding-bottom: 0;
    }
}

.col-sm-6.col-sm-offset-1 {
    margin: 0 auto;
    padding-top: 50px;
}

/* 
// -----------------------
// 6 - FOOTER
// -----------------------
*/

.container-footer {
    padding: 100px 1rem;
}

.container-footer .col-sm-6 {
    padding-left: 25px;
    padding-right: 25px;
}

.title-footer {
    font-size: 1rem;
    letter-spacing: 0.15em;
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-weight: 500;
    line-height: 1.2;
}

.text-footer {
    font-family: 'Work Sans', sans-serif;
    color: rgba(255, 255, 255, .7);
    font-weight: 300;
    letter-spacing: -0.3px;
}

.text-footer a {
    color: white;
}

.bibtex-code {
    border: #495158 1px solid;
    border-radius: .3rem;
    color: #6EA4CF;
    font-family: Consolas, "Courier New", monospace;
    font-size: 12px;
}

/* 
// ------------------
// 7 - LATERAL NAVBAR
// ------------------
*/

.lat-nav {
    background-color: #eee;
}

@media (min-width: 768px) {
    .lat-nav {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 70px;
        margin-top: 0;
        margin-bottom: 0;
        overflow-y: auto;
    }

    .lat-nav a {
        display: block;
    }
}

.lat-nav a {
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    border-bottom: solid 1px #fff;
}

@media (max-width: 767px) {
    .lat-nav a {
        display: inline-block;
        padding: 4.5%;
    }
    
    .lat-nav > a {
        display: block;
    }
    .icon-bar {
        text-align: center;
    }
}

.lat-nav a:hover {
    text-decoration: none;
    color: #666;
}

.lat-nav > a {
    background-color: #2598C4;
    color: #eee;
    font-size: 40px;
}

.lat-nav > a:hover {
    color: #000;
}

.nav-avatar {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.lat-nav .active {
    color: #495057;
    background-color: #fff;
}

/* 
// ---------------------------
// 8 - CONTAINERS AND HEADINGS
// ---------------------------
*/

@media (min-width: 768px) {
    .main-container {
        margin-left: 70px;
        padding: 50px 70px;
    }
}

@media (max-width: 767px) {
    .main-container {
        padding: 30px 20px;
    }
    .col-sm-4 {
        padding-bottom: 20px;
    }
}

.row-heading {
    padding-bottom: 25px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.subtitle {
    color: #777;
}

#preview-textfield {
    text-align: center;
}

@media (min-width: 768px) {
    .secondary-container {
        box-sizing: border-box;
        margin-left: 70px;
        padding: 0px 70px;
    }
    .full-height {
        min-height: 100vh;
    }
}

@media (max-width: 767px) {
    .secondary-container {
        padding: 30px 20px;
    }
}

/* 
// ---------------------------
// 9 - CARD SETUP
// ---------------------------
*/

.card-title {
    padding: 20px;
    position: relative;
    line-height: 20px;
    text-align: center;
    margin-bottom: 0;
}

.card-title:before {
    position: absolute;
    top: 45%;
    display: block;
    content: "";
    width: calc(100% - 40px);
    height: 2px;
    background-color: #eee;
}

.card-title h3 {
    padding: 0 5px;
    font-size: 18px;
    position: relative;
    display: inline-block;
    font-weight: 300;
    background-color: #fff;
    z-index: 2;
}

.green {
    color: #1BC98E;
}

.red {
    color: #E64759;
}

/* 
// ---------------------------
// 10 - BIO CARD
// ---------------------------
*/

.cover-img {
    height: 150px;
    background-size: cover;
    background-image: url("../img/uploads/cover-default.png");
    background-position: center;
}

.card-about {
    text-align: center;
    padding: 15px;
    font-weight: 200;
    height: 250px;
}

.card-avatar {
    margin-top: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.card-name {
    margin: 15px auto;
    font-weight: 600;
}

.resume-card {
    height: 400px;
}

/* 
// ---------------------------
// 11 - CRASH CALENDAR CARD
// ---------------------------
*/

.calendar-card {
    min-height: 402px;
}

.calendar-container {
    overflow: hidden;
    padding: 25px;
    font-size: 0.9rem;
}

.calendar-container .bootstrap-datetimepicker-widget table td.day {
    height: 40px;
}

.bootstrap-datetimepicker-widget table td.notify {
    position: relative;
}

.bootstrap-datetimepicker-widget table td.notify:before {
    content: '';
    display: inline-block;
    border: solid transparent;
    border-width: 7px 0 0 7px;
    border-top-color: #b73333;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 4px;
    right: 4px;
}

.payments-card {
    text-align: center;
    min-height: 419px;
}

/* 
// ---------------------------
// 12 - CRASH TABLE CARD
// ---------------------------
*/

.payment-table {
    width: 90%;
    margin: 1rem auto;
}

@media (max-width: 767px) {
    .payment-table {
        font-size: 14px;
    }
}

th {
    text-align: center;
}

.pagination-container {
    padding: 20px;
}

.pagination {
    float: right;
    margin-bottom: 0px;
}