<template>
    <div class="location-details">
        <div class="location-details-id">0</div>
        <div class="location-details-title">
            <h4>-</h4>
            <div class="location-details-close">
                <img class="close-icon" src="components/sidebar/img/cross.svg" alt="Close">
            </div>
        </div>
        <div class="location-details-content container-fluid">
            <div class="row row-spaced">
                <div class="col-6">
                    <span class="location-details-price-text">&euro;0,00</span>
                    <span class="location-details-price-label">per hour</span>
                </div>
                <div class="col-6">
                    <span class="location-details-park-text">-/-</span>
                    <span class="location-details-park-label">free</span>
                </div>
            </div>
            <div class="row row-spaced">
                <div class="col-12">
                    <a href="#" class="btn btn-primary btn-directions">Get directions</a>
                </div>
            </div>

            <div class="row row-title row-address-title">
                <div class="col-12">
                    <h5>Address</h5>
                </div>
            </div>

            <div class="row row-caption row-address-caption">
                <div class="col-3">
                    <span class="location-details-address-icon">
                        <i class="fa fa-map-marker"></i>
                    </span>
                </div>
                <div class="col-9">
                    <span class="location-details-address-text">
                        <span>undefined</span>
                    </span>
                </div>
            </div>

            <div class="row row-title row-info-title">
                <div class="col-12">
                    <h5>Info</h5>
                </div>
            </div>

            <div class="row row-caption row-info-caption">
                <div class="col-3">
                    <span class="location-details-clock-icon">
                        <i class="fa fa-clock-o"></i>
                    </span>
                </div>
                <div class="col-9">
                    <span class="location-details-clock-text">
                        <span>undefined</span> 
                    </span>
                </div>
            </div>

            <div class="row row-title row-state-title">
                <div class="col-12">
                    <h5>Status</h5>
                </div>
            </div>

            <div class="row row-caption row-state-caption">
                <div class="col-3">
                    <span class="location-details-state-icon">
                        <i class="fa fa-check green"></i>
                    </span>
                </div>
                <div class="col-9">
                    <span class="location-details-state-text">
                        Online
                    </span>
                </div>
            </div>

        </div>
    </div>
</template>
